<div class="post">
  <div id="comment-<% comment.id %>">
    <h4><%= comment.user.username %></h4>
    <small><%= comment.created_at.to_date.strftime("%d %B, %Y")%></small>
    <h6><%= comment.body %></h6>
    <br />
  </div>
</div>
