<h1><%= @composition.title %></h1>
<p><%= @composition.description %></p>
<%= link_to 'Изменить', edit_composition_path(@composition) %>

<%= link_to 'Удалить', composition_path(@composition), method: :delete, data: {confirm: "Вы уверены ?"} %>

