<div class="submenu">
  <h2><%= t('admin.categories.index.title') %></h2>
  <ul class="nav list-group">
    <% Category.roots.each do |category| %>
      <li >
          <%= link_to category.name, category, class: "nav-link list-group-item #{'active' if current_page?(category_path(category)) || @composition.present? && @composition.category == category}" %>
          <%= render 'shared/submenu_categories', categories: category.root.descendants.arrange %>
      </li>
     <% end %>
  </ul>
</div>