<h1><%= t('search.result') %></h1>
<% if @compositions.present?  %>
  <section id='compositions'>
    <%= render @compositions %>
  </section>
<% else %>
  <h1><%= t('search.result_no') %></h1>
<% end %>